node_modules/
.DS_Store

.git
.github/
.gitattributes
.gitignore

.husky
.vscode

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/versions
!.yarnrc.yml
!.pnp.cjs
!.pnp.loader.mjs

coverage
dist